---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="container">
        <h1>Herramientas de Redes</h1>
        <p>Bienvenido. Selecciona una herramienta de red:</p>
        <div class="card">
            <h2><a href="/ipv4">Herramientas IPv4</a></h2>
            <p>Calculadora, agrupador y divisor de subredes IPv4.</p>
        </div>
        <div class="card">
            <h2><a href="/ipv6">Herramientas IPv6</a></h2>
            <p>Próximamente...</p>
        </div>
    </div>
</BaseLayout>
